:root {
  --white-color: #ffffff;
  --black-color: #2e2f42;
  --blue-color: #4d5ae5;
  --grey-color: #2e2f42;
  --light-color: #f4f4fd;
  --text-color: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--white-color);
}
.list {
  list-style: none;
}
/**-----------------Header------------------*/

.header-logo {
  font-family: "Raleway" sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue-color);
}
.link {
  text-decoration: none;
}
.header-logo span {
  color: var(--blue-color);
}

.header-menu-link {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.list {
  list-style: none;
}
.header-contact-link {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

/**-----------------Main Hero------------------*/
.hero {
  background-color: var(--grey-color);
}

.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
  text-align: center;
}
.hero-btn {
  font-family: inherit sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: #4d5ae5;
  cursor: pointer;
}
.hero-btn:is(:hover, :focus) {
  color: #404bbf;
}

/**-----------------Features------------------*/
.features-list {
  list-style: none;
}
.features-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-menu-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/**-----------------What are we doing------------------*/
.doing-list {
  list-style: none;
}

.doing-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}

/**-----------------Team------------------*/
.team-list {
  list-style: none;
}

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--grey-color);
  text-align: center;
}
.team-menu-item {
  background-color: #ffffff;
}
.team-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--grey-colors);
  text-align: center;
}
.team-menu-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/**-----------------Footer------------------*/
.footer {
  background-color: var(--grey-color);
}

.footer-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
}
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/**-----------------Portfolio------------------*/

/**-----------------Sections--------------------- */
.main-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: var(--light-color);
  cursor: pointer;
}
.button:is(:hover, :focus) {
  color: #ffffff;
  background-color: #404bbf;
}
.application-list {
  list-style: none;
}
.application-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: var(--grey-color);
}
.application-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.application-menu-link {
  text-decoration: none;
}
