:root {
  --white-color: #ffffff;
  --black-color: #2e2f42;
  --blue-color: #4d5ae5;
  --light-color: #f4f4fd;
  --text-color: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--white-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1470px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/**-----------------Header------------------*/

.header {
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}
.header-container {
  display: flex;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue-color);
  display: flex;
  align-items: center;
  margin-left: 156px;
}

.header-logo span {
  color: var(--black-color);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  margin-left: 76px;
  gap: 40px;
}

.header-contact {
  display: flex;
  margin-left: 332px;
  gap: 40px;
}

.header-menu-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.header-contact-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.header-adress {
  font-style: normal;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: #404bbf;
}

/**-----------------Main Hero------------------*/
.hero {
}
.hero-container {
  background-color: var(--black-color);
  padding: 188px 472px 292px 472px;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  margin-top: 48px;
  margin-left: 156px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/**-----------------Features------------------*/

.features-container {
  padding: 120px 156px;
}
.features-subtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-menu {
  display: flex;
}
.features-menu-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/**-----------------What are we doing------------------*/

.doing-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.doing-container {
  padding: 72px 156px 120px 156px;
}
.doing-menu {
  display: flex;
  gap: 24px;
}

/**-----------------Team------------------*/

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 72px;
}

.team-menu {
  display: flex;
  gap: 24px;
}

.team-container {
  padding: 120px 156px;
}
.team-menu-item {
  background-color: #ffffff;
}
.team-subtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black-color);
}
.team-menu-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/**-----------------Footer------------------*/
.footer {
  background-color: var(--black-color);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 101.5px;
}
.footer-logo span {
  color: #f4f4fd;
}
.footer-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 17.5px;
}

.footer-container {
}

/**-----------------Portfolio------------------*/

/**-----------------Sections--------------------- */
.main-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: var(--light-color);
  cursor: pointer;
}
.button:is(:hover, :focus) {
  color: #ffffff;
  background-color: #404bbf;
}
.list {
  list-style: none;
}
.application-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black-color);
}
.application-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.application-menu-link {
  text-decoration: none;
}
